@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-orange: #f97316;
  --color-yellow: #facc15;
  --color-text: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-space-grotesk), sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, var(--color-orange), var(--color-yellow), var(--color-orange));
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.5s ease;
}

.gradient-text:hover {
  animation: shine 3s linear infinite;
}

.textarea-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.textarea-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 8px;
  cursor: default;
}

.textarea-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }

  .animate-gradient {
    animation: gradientBG 6s ease infinite;
  }

  .bg-custom-gradient {
    background: linear-gradient(120deg, var(--color-orange), var(--color-yellow));
  }

}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
     }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}



.nav-link {
    position: relative;
    padding: 0.5rem 0;
    margin: 0 1rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

